
.title-container{
    background-color: rgb(248, 248, 248);
}
.post-title{
    color:#080530;
    font-size: 60px;
    padding:20px 10px 20px 100px;
}

.author{
    color:rgb(122, 122, 122);
    font-size: 20px;
    padding:20px 10px 10px 100px;
}

.read-time{
    color:rgb(20, 48, 39)
}

.single-img{
  margin:20px 40px 20px 40px;
 
}
.img{
    border:1px;
    border-radius: 50px;
}



.body-side{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: rgb(248, 248, 248);
    padding-bottom: 40px;
    

}
.post-body{
    margin-top: 20px;
    color:#080530;
    font-size:22px;
    flex-basis: 65%;
}

.body{
 background-color:white;
 padding:50px;
 border:1px;
 border-radius: 13px;
 box-shadow: 2px 2px 5px rgb(216, 216, 216);
 line-height: 1.6;
}

.side-container{
    flex-basis: 30%;
}

.side-title{
    font-size: 30px;
    font-weight:600;
    padding:20px 10px 20px 45px;
    color:#818181
}

.side-card{
    display: flex;
    background-color: white;
    max-height: 340px;
    border:1px;
    border-radius: 13px;
    padding:5px;
    margin:15px 0px 0px 0px;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    transition:.2s;
    transition-timing-function: linear;
}

.side-card:hover{
    margin:10px 0px 5px 0px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);
}

.side-card-title{
    font-size:18px;
    font-weight: 700;
    color:#080530;
    padding:8px;
}

.side-card-img{
    border-radius: 10px;
    max-height:160px;
    max-width: 120px; 
}

.kg-image{
  width:400px;
  height:300px;  
}


@media (max-width: 768px){
    
    .post-title{
        font-size: 40px;
        padding:20px 10px 5px 40px;
    }
    
    .author{
        font-size: 18px;
        padding:20px 10px 10px 60px;
    }

    .body{
        padding:5px;
        font-size: 17px;
        line-height: 1.5;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
       }
       .side-card-img{
        border-radius: 10px;
        max-height:140px;
        max-width: 80px; 
    }   
     .side-title{
         font-size: 16px;
        padding:1px 3px 10px 5px;
     
     }
    
}

@media (max-width: 425px){

    .post-title{
        font-size: 28px;
        padding:20px 5px 5px 10px;
    }

    .author{
        font-size: 16px;
        padding:20px 5px 5px 20px;
    }

    .single-img{
        margin:10px 15px 10px 15px;
    }

    .img{
        border-radius:20px;
    }
   
    .body-side{
        padding-bottom: 20px;
    }


    .post-body{
        margin-top: 10px;
        flex-basis: 95%;
    }
    .body{
      padding:10px;
    }
    
    .side-container{
        flex-basis: 90%;
    }

    .side-title{
        font-size: 20px;
        padding:20px 10px 10px 15px;
     
    }

    .side-card{
        max-height: auto;
    }

    .side-card-img{
        border-radius: 10px;
        max-height:120px;
        max-width: 100px; 
    }

    .kg-image{
        width:280px;
        height:250px;  
      }
    
}

@media (max-width: 375px){

    .post-title{
        font-size: 24px;
    }
    .kg-image{
        width:200px;
        height:120px;  
      }
}

@media (max-width: 320px){

    .post-title{
        font-size: 21px;
    }

    .author{
        font-size: 12px;
        padding:15px 4px 2px 10px;  
    }

    .single-img{
        margin:10px 10px 5px 10px;
    }

    .img{
        border-radius:10px;
    }

    .post-body{
        margin-top: 0px;
        flex-basis: 98%;
    }

    .body{
        padding:10px;
        font-size: 15px;
        line-height: 1.4;
      }

      .side-card-title{
        font-size:17px;
       
    }  
}